.jumbotron h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    background-color: none;
    letter-spacing: 2px;
    text-shadow: 4px 4px 3px rgba(56, 23, 1, 0.493);
}

.jumbotron {
    background: url("../images/popcorn2.jpg");
    box-shadow: 4px 4px 10px rgba(56, 23, 1, 0.623);
}

.header-text {
    color:  white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(56, 23, 1);
}

#userInput {
	width: 300px;
	font-size: 13px;
	padding: 0px 10px;
}

.misc-input {
	margin-top: 30px;
}

.btn {
	margin: 0;
	height: 30px;
	font-size: 14px;
	padding-top: 6px;
}

.btn-outline-secondary, .btn {
    margin: 5px;
    height: 30px;
    background-color: #B9090B;
    color: white;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 3px 3px rgba(56, 23, 1, 0.616);
    border-top: rgba(255, 255, 255, 0.493) 1px solid;
    border-bottom: rgba(255, 255, 255, 0.219) 1px solid;
}

button.btn.btn-outline-secondary.movie-btn {
    text-transform: capitalize;
}

.gif-card {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
    margin-right: 10px;
    float: left;
    box-shadow: 0px 4px 7px rgb(56, 23, 1);
    border-radius: 29px;
    border-top: rgba(255, 255, 255, 0.75) 2px solid;
    border-bottom: rgba(255, 255, 255, 0.219) 3px solid;
    background-color: #B9090B;
    max-width: 45%;
    overflow: hidden;
}

body {
    background-color: #B9090B;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;

}
